<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests">
  <test name="Fuctional Testing">
    <classes>
      <class name="ui.SoftAssertVerify"/>
      <class name="ui.LoginTest"/>
      <class name="ui.VerifyTitleandText"/>
      <class name="ui.VerifyTitleTest"/>
      <class name="ui.GroupDemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
